<h1 class="w-50 m-auto p-3 bg-primary text-white text-center">Yelp</h1>
<h3 class="w-50 m-auto mb-2 p-3 bg-primary text-white text-center">Find reviews and information about your favourite restuarants</h3>

<div class="w-50 m-auto mb-2 text-center">
  <%= link_to '<i class="fa-solid fa-square-plus fa-xl link-unstyled"></i> Add Restaurant'.html_safe, restaurants_new_path, style: 'text-decoration-none' %>
</div>
<% @restaurants.each do |restaurant| %>
  <%= link_to restaurant_path(restaurant), class: "text-decoration-none" do %>
    <div class="p-3 mb-2 w-50 m-auto border border-dark rounded">
      <h3 class="p-2 ms-2 mb-1 text-decoration-none"><%= restaurant.name %></h3>
      <h4 class="p-2 ms-2 mb-1"><%= restaurant.address %></h4>
      <h4 class="p-2 ms-2 mb-1"><%= restaurant.phone_number %></h4>
      <h4 class="p-2 ms-2 mb-1"><%= restaurant.category %></h4>
    </div>
  <% end %>
<% end %>
